body{
  margin: 0;
  padding: 0;
  height: 3000px;
  font-family: sans-serif;
}

.green{
  color: #1f9033;
}

.grey{
  color: rgb(70, 70, 70);
}

/* Navigation Bar */

.navBar{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 3px solid rgb(233, 233, 233);
}

.menu-back{
  height: 103px;
}

.logo{
  margin: 20px 0 0 85px;
}

.logo img{
  width: 220px;
}

.nav-search{
  width: 800px;
  height: 100%;
}

.nav-menu{
  width: 305px;
  height: 100%;
}
.nav-menu button{
  cursor: pointer;
  margin: 45px 0 0 145px ;
  background: none;
  border: none;
  padding: 0;
display: flex;
justify-content: center;
align-items: center;
position: relative;
left: 20px;
}

.menu{
  width: 28px;
  height: 28px;
}

.menu-bar1{
  width: 17px;
  height: 2px;
  margin: 2px 0;
  background-color: black;
  transition: 0.25s ease-out;
}
.menu-bar2{
  width: 12px;
  height: 2px;
  margin: 2px 0 2px 5px;
  background-color: black;
  transition: 0.25s ease-out;
}
.menu-bar3{
  width: 17px;
  height: 2px;
  margin: 2px 0;
  background-color: black;
  transition: 0.25s ease-out;
}

/* Covid Section */

.covid-warning{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 85px;
padding: 8px 0px;
font-size: 14px;
color: rgb(80, 80, 80);
border: 3px solid grey;
}
.covid-warning a{
  text-decoration: none;
  color: inherit;
}
.covid-warning i{
  margin-right: 15px;
  font-size: 30px;
  color: rgb(181, 0, 0);
}

/* Search Section */

.search-head{
  display: flex;
}

.search-bar{
  text-align: center;
  margin-top: 45px;
  margin-bottom: 10px;
}

.form-items{
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar span{
  font-size: 33px;
  font-weight: 700;
}

.search-bar input{
  margin-right: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 30px;
  border: 3px solid black;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  font-size: 50px;
  outline: none;
}

.search-bar button{
  background-color: #00a94e;
  border: 3px solid #00a94e;
  border-radius: 4px;
  height: 85px;
  width: 160px;
  outline: none;
}

.search-btn{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* Trust Pilot Section */

.trust-pilot{
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trust-placeholder img{
width: 600px;
}

/* Three Steps Section */

.three-instruct{
  margin-top: 110px;
text-align: center;
}
.three-instruct span{
  font-size: 23px;
  font-weight: 700;
}

.horizontal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.line{
  margin-top: 20px;
  border-top: 1px solid green;
  width: 100px;
}

.Three-cars{
  display: flex;
  margin: 75px 200px;
  color: rgb(70, 70, 70);
}

.car{
  width: 370px;
}

.car h3{
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}
.car p{
  margin-top: 5px;
}

/* Schofe Section */

.schofe{
  display: flex;
  justify-content: center;
  margin-top: 190px;
}

.schofe-cup{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(70, 70, 70);
}

.schofe-cup img{
width: 250px;
margin-bottom: 10px;
}

.schofe-cup h3{
  text-align: center;
  font-weight: 600;
  font-size: 23px;
}

.schofe-cup p{
  margin: 0;
}

/* Selling Points Section */

.selling-points{
  margin: 10px 165px;
  list-style-image:url(/images/tick.png);
  display: flex;
  color: rgb(70, 70, 70);
}

.sell-col{
  margin: 15px 50px;
}
.sell-col h3{
  font-size: 16px;
}

.sell-col p{
  line-height: 1.45em;
}

/* Segments Section */

